$def with(result)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>REGRESION LINEAL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/estilo.css" />
    </head>

    <body>
        <h1>REGRESION LINEAL</h1>
        <div class="burbuja">
            <div class="numero">
                <h1> 
                    $if result!=None:
                        $result
                </h1>
            </div>
            <form method="POST" class="formulario">
                <input type="number" name="x" id="x">
                <br>
                <input type="submit" value="predecir" id="predecir">
            </form>
        </div>
        
    </body>
</html>
